<div class="container">
  <div class="row">
   <div class="box-container">
            <div class="products-container" >        
                <div class="container row d-flex justify-content-center">
                    <div class="col-12">
                         <h2 class="product-title">Ingrese su usuario</h2>
                          <form action="/api/post-session" method="post" class="form-horizontal" role="form">
                                <div class="form-group p-3">
                                <label class="col-sm-3 control-label">Nombre</label>
                                <div class="col-sm-12">      
                                    <input type="text" name="inputUser" class="form-control" placeholder="Escribe tu nombre" value="Jessie">
                                </div>
                                </div>
                                <div class="form-group last p-3" style="margin-bottom:0px;">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <input type="hidden" name="form" value="1" />
                                    <button type="submit" class="btn btn-success btn-sm">Ingresar</button>
                                </div>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
  </div>
</div>