
      <div class="container my-5">

        <h1 class="display-3">Ingresar</h1>
        <br>
        <form class="form" action="/login" method="post" role="form" autocomplete="off">

          <div class="form-group">
            <input id="nombre" name='username' placeholder="Nombre" class="form-control" type="text" required>
          </div>

          <div class="form-group">
            <input id="password"  name='password' placeholder="Contraseña" class="form-control" type="password" required>
          </div>

          <div class="form-group">
            <input class="btn btn-success my-3" type="submit" value="Empezar">
          </div>
        </form>
        <hr>
        <div class="text-left">
          <span>¿No tienes cuenta?</span>
          <button type="button" class="btn btn-link" onclick="location.href = '/register'">Registrarse</button>
        </div>

      </div>
      


  </div>
