<div class="container text-center mt-5">
    <div class="alert alert-danger">
        <h1>Error de usuario</h1>
        <button style="color:brown" type="button" class="btn btn-link" onclick="location.href='/'">Volver</button>
    </div>
</div>