<div cclass="container text-center mt-5">
    <div class="alert alert-danger">
        <h1>Error de registro</h1>
        <button style="color:brown" type="button" class="btn btn-link" onclick="location.href='/register'"> Volver </button>
    </div>
</div>