<body>
      <div class="container my-5">
       <h1 class="display-3">Registrarse</h1>
        <br>
        <form class="form" action="/register" method="post" role="form" autocomplete="off">

          <div class="form-group">
            <input id="nombre" name='username' placeholder="Nombre" class="form-control" type="text" required>
          </div>

          <div class="form-group">
            <input id="password"  name='password' placeholder="Contraseña" class="form-control" type="password" required>
          </div>

          <div class="form-group">
            <input id="direccion"  name='direccion' placeholder="Dirección" class="form-control" type="text" required>
          </div>

          <div class="form-group">
            <input class="btn btn-success my-3" type="submit" value="Registrarse">
          </div>
        </form>
        <hr>
        <div class="text-left">
          <span>¿Ya tienes cuenta?</span>
          <button ctype="button" class="btn btn-link" onclick="location.href = '/login'">Ir a Login</button>
        </div>
      </div>
</body>