extends layout/layout.pug

block content
    div.box-container
        div.products-container
            div.container.row.d-flex.justify-content-center
                div.col-4
                    h2.product-title=vista
                       form(action="/api/productos" method="POST")
                            div.form-group.m-2
                                label.label-title Titulo
                                input.form-control(type="text" name="title" placeholder="Titulo" required)
                            div.form-group.m-2
                                label.label-title Precio
                                input.form-control(type="number" name="price" step=".01" placeholder="Precio" required)
                            div.form-group.m-2
                                label.label-title Imagen URL
                                input.form-control(type="text" name="thumbnail" placeholder="Thumbnail" required)   
                            button.m-2.btn.btn-success(type="submit") Enviar   
                            a.btn.btn-danger(href=`http://localhost:${port}/api/productos` role="button") Ver todo