
.box-container{
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
}

.products-container{
  background-color: #E9ECEF;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}
.product-title{
    color: #2A2AFC;
}